{
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true,
      "baseUrl": "/app"
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}